In [12]:
import pandas as pd
import os

In [13]:
xmr_usdt = pd.read_excel(
    '/Users/damienvanoldeneel/Desktop/Code/Finance_stat/Data_csv/XMR-USDT_1hour_start=2023-12-01 12:00:00_end=2023-12-31 12:00:00.xlsx'
    , index_col=0)

In [14]:
xmr_usdt

                       open   close    high     low     volume       turnover
time
2023-12-01 11:00:00  171.59  170.64  171.90  170.47  1468.7054  251555.406103
2023-12-01 12:00:00  170.65  170.03  171.13  169.60  1077.2780  183427.013997
2023-12-01 13:00:00  170.02  170.14  170.65  169.84  1209.7468  205888.846401
2023-12-01 14:00:00  170.18  170.49  170.59  169.72  1318.6592  224360.490696
2023-12-01 15:00:00  170.48  170.78  171.48  170.27   976.7107  166786.073898
...                     ...     ...     ...     ...        ...            ...
2023-12-31 06:00:00  164.29  164.43  164.85  164.09   681.0733  111980.171586
2023-12-31 07:00:00  164.45  165.97  166.60  164.45  1011.0548  167447.438249
2023-12-31 08:00:00  165.87  165.48  166.09  165.30  1062.0808  175942.619258
2023-12-31 09:00:00  165.49  165.96  166.60  165.43  1651.6720  274157.883720
2023-12-31 10:00:00  165.97  166.26  166.53  165.69  1207.7837  200708.064395

[720 rows x 6 columns]